<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="scouting app">
        <meta name="author" content="ImDaveead Hunterparcels Filip9696">
        <meta name="theme-color" content="#b71c1c">
        <meta property="og:image" content="<%= require('./pwaicon.png') %>">
        <link rel="icon" href="<%= require('./favicon.ico') %>">
        <link rel="manifest" href="<%= require('./rsm.webmanifest') %>" />

        <title>Robotic Scout Magic (RSM)</title>

        <!-- Chartist -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    </head>

    <body>
        <div id="root"><noscript>Please Enable JavaScript</noscript></div>
    </body>
</html>
